/*------------------------------------- header ----------------------------*/

header {
	padding: 30px 0px;
	position: static;
}


.logo__title {
	color: #545454;
}

.logo__subtitle {
	color: #292929;
}

.first-line {

	background-color: #000000;
}

.second-line {

	background-color: #000000;

}

.third-line {

	background-color: #000000;

}

.menu__link a {
	color: #545454;
}

.menu__link a:hover {
	color: #292929;
}

/*------------------------------------------ friends -----------------------------------*/

.friends {
	padding: 80px 0px 100px;
}


.friends__title {
	margin-bottom: 30px;
}

.friends__block {
	margin: 0px 0px 60px 0px;

}

.friends__body_items:not(:first-child) {
	margin-left: 0px;
}

.friends__first-row {
	display: flex;
	margin-top: 30px;
}

.friends__second-row {
	display: flex;
	margin-top: 30px;
}

.friends__first-row .friends__body_items:not(:first-child) {
	margin-left: 40px;
}

.friends__second-row .friends__body_items:not(:first-child) {
	margin-left: 40px;
}

.buttons {
	display: flex;
	justify-content: center;
}

.left-arrows {
	font-family: 'Georgia';
	width: 52px;
	height: 52px;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #CDCDCD;
	border: 2px solid #CDCDCD;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;


}

.left-arrow {
	font-family: 'Georgia';
	width: 52px;
	height: 52px;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #CDCDCD;
	border: 2px solid #CDCDCD;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-number {
	font-family: 'Georgia';
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #292929;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	margin-left: 20px;

}

.page-number:hover {
	background-color: #FDDCC4;
	border-radius: 100px;
}

.right-arrow {
	font-family: 'Georgia';
	width: 52px;
	height: 52px;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #292929;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-arrows {
	font-family: 'Georgia';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #292929;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 20px;
}

.buttons a {
	text-decoration: none;
}

/*-------------------------------------------- media ---------------------------------*/

@media(max-width:1100px) {
	.friends__body_items:last-child {
		display: block;
	}
}




@media(max-width:940px) {
	.friends__body__button {
		padding: 15px 30px;
		font-size: 14px;
	}
}

@media(max-width:780px) {
	.friends {
		padding: 70px 0px 76px;
	}

	.friends__title {
		margin-bottom: 10px;
	}

	.friends__first-row {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 0px;
	}

	.friends__block .friends__first-row .friends__body_items {
		margin-left: 20px;
		margin-top: 30px;
	}

	.friends__second-row {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 0px;
	}

	.friends__block .friends__second-row .friends__body_items {
		margin-left: 20px;
		margin-top: 30px;
	}

	.friends__body_items:first-child {
		display: block;
	}



}

@media(max-width:370px) {
	.left-arrow {
		margin-left: 10px;
	}

	.page-number {
		margin-left: 10px;
	}

	.right-arrow {
		margin-left: 10px;
	}

	.right-arrows {
		margin-left: 10px;
	}
}