* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background-color: transparent;
	border: none;
	font-family: inherit
}

img {
	max-width: 100%;
}

/* -------------------------------header------------------------------- */
header {
	padding: 60px 0px;
	position: absolute;
	width: 100%;


}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	text-decoration: none;


}

.logo__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	color: #F1CDB3;
	letter-spacing: 0.06em;

}

.logo__subtitle {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 13px;
	line-height: 115%;
	color: #FFFFFF;
	margin-top: 10px;
	letter-spacing: 0.1em;

}



.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__link {
	list-style: none;
	line-height: 160%;
}

.menu__link:not(:last-child) {
	margin-right: 35px;
}


.menu__link a {
	font-family: 'Arial';
	text-decoration: none;
	font-weight: 400;
	font-size: 15px;
	color: #CDCDCD;
}

.menu__link a:hover {
	color: #FAFAFA;

}

.active a {
	color: #FAFAFA;
	border-bottom: 3px solid #F1CDB3;
	padding-bottom: 7px;
}


/* ------------------------------introductory--------------------------- */

.introductory-block {
	padding-top: 180px;

	background-image: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);

}

.introductory-wrapper {
	display: flex;
	justify-content: space-between;
}


.introductory-block__info {
	max-width: 460px;
	margin-top: 163px;
}

.info__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 42px;
	max-width: 325px;
}

.info__text {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin-bottom: 56px;

}

.info__button {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	color: #292929;
	letter-spacing: 0.06em;
	text-decoration: none;
	padding: 15px 45px;
	background-color: #F1CDB3;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: inline-block;
}

.info__button:hover {
	background-color: #FDDCC4;
	;
	border-radius: 100px;
}

/*------------------------------------- about --------------------------------*/
.about {
	padding: 80px 0px 100px;
}

.about__wrapper {
	display: flex;
}

.about__info {
	margin-top: 14px;
	margin-left: 126px;

}

.about__wrapper img {
	margin-left: 175px;
}


.about__info_title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	max-width: 370px;
}

.about__info_text {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
	max-width: 430px;
	margin-top: 25px;
}

/* ----------------------------------------friends ----------------------------------------*/

.friends {
	padding: 80px 0px 100px;
	background-color: #F6F6F6;
}

.friends__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	text-align: center;
	margin-bottom: 60px;

}

.friends__wrapper {
	display: flex;
	align-items: center;

	margin-bottom: 60px;

}

.friends__left-arrow {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	cursor: pointer;

}

.friends__body {
	display: flex;
	margin-left: 53px;

}

.friends__body_items img {
	border-radius: 9px 9px 0px 0px;

}

.friends__body_items {
	background-color: #FAFAFA;
	border-radius: 9px;
	padding-bottom: 30px;

}

.friends__body_items:hover {
	background-color: #FFFFFF;
}

.friends__body_items:not(:first-child) {
	margin-left: 90px;
}

.friends__body_name {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin: 30px 0px;
}

.button-box {
	text-align: center;

}

.friends__body__button {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	padding: 15px 45px;
	letter-spacing: 0.06em;
	color: #292929;
	text-decoration: none;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: inline-block;
}

.friends__body__button:hover {
	background-color: #FDDCC4;
}

.friends__right-arrow {
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	cursor: pointer;
	margin-left: 53px;
}

.friends__left-arrow:hover {
	background-color: #FDDCC4;
}

.friends__right-arrow:hover {
	background-color: #FDDCC4;
}

.friends__button {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: #F1CDB3;
	border-radius: 100px;
	padding: 15px 45px;

}

.friends__button:hover {
	background-color: #FDDCC4;
	;
}

/*--------------------------------------------- help -----------------------------------*/

.help {
	padding: 80px 0px 98px;
}



.help__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	max-width: 320px;
	color: #545454;
	margin: 0 auto;
	margin-bottom: 5px;
}

.help__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.help__items {

	align-content: center;
	margin: 55px 60px 0px;
}

.help__image {
	text-align: center;
}

.help__actions {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
	text-align: center;
}

/*--------------------------------------- donation ------------------------------------*/

.donation {
	background-color: #F6F6F6;
	padding: 81px 0px 101px;
}

.donation__wrapper {
	display: flex;
	justify-content: center;

}

.donation__info {
	max-width: 380px;
	margin-left: 30px;
}

.donation__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
	max-width: 300px;
}

.donation__bank-name {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
}

.donation__card-number {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
	background-image: url(../img/icons/credit-card.svg);
	background-repeat: no-repeat;
	padding: 15px 0px 15px 60px;
	background-position: 15px center;
	background-color: #F1CDB3;
	border-radius: 9px;

}

.donation__text {
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #B2B2B2;
}

/*-------------------------------------------- footer -----------------------------------*/

footer {
	padding-top: 40px;
	background-image: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;

}

.questions-block {
	margin-top: 16px;
	flex-basis: 300px;
}

.questions__first-title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.questions__email {
	margin-bottom: 40px;
}

.questions__email a {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	text-decoration: none;
	background-image: url(../img/icons/icon-email.svg);
	background-repeat: no-repeat;
	padding: 5px 0px 5px 60px;
	background-position: left center;

}



.questions__tel a {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	text-decoration: none;
	background-image: url(../img/icons/icon-phone.svg);
	background-repeat: no-repeat;

	padding: 5px 0px 5px 60px;

	background-position: left center;
}

.visiting-block {
	margin-top: 16px;
	flex-basis: 300px;
}

.visiting__title {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-bottom: 2px;
}

.visiting__address {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	background-image: url(../img/icons/icon-marker.svg);
	background-repeat: no-repeat;
	padding: 5px 0px 5px 42px;
	background-position: left center;
	margin-top: 32px;
}

.header__burger {
	display: none;
}

.first-line {
	width: 30px;
	height: 2px;
	background-color: white;
}

.second-line {
	width: 30px;
	height: 2px;
	background-color: white;
	margin-top: 10px;
}

.third-line {
	width: 30px;
	height: 2px;
	background-color: white;
	margin-top: 10px;
}

/*--------------------------------------------- media ----------------------------------*/

@media(max-width:1230px) {
	.container {
		max-width: 95%;
	}
}

@media(max-width:1100px) {
	.friends__body_items:last-child {
		display: none;
	}

	.friends__wrapper {
		justify-content: space-around;
	}

	.about__wrapper {
		justify-content: center;
	}

	.introductory-wrapper img {

		width: 60%;
	}

	.about__wrapper img {
		margin: 0 auto;
	}
}

@media(max-width:970px) {


	.footer__wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.questions-block {
		width: 50%;
	}

	.visiting-block {
		width: 50%;
	}

	.footer__wrapper img {
		margin-top: 60px;

	}
}

@media(max-width:890px) {
	.donation__wrapper img {
		width: 50%;
	}

	.header {
		padding: 30px 0px;
	}

	.introductory-block {
		padding-bottom: 30px;

	}

	.introductory-wrapper img {
		display: none;
	}

	.introductory-block__info {
		margin: 0 auto;
	}
}

@media(max-width:780px) {
	.about__wrapper img {
		height: 100%;

	}

	.donation__wrapper {
		flex-wrap: wrap;
	}

	.donation__wrapper img {
		width: 100%;
	}

	.donation {
		padding-top: 40px;
		padding-bottom: 50px;

	}

	.donation__info {
		margin-top: 30px;
	}



}

@media(max-width:700px) {
	.about__wrapper {
		flex-wrap: wrap;
	}

	.about__info {
		margin: 40px auto;

	}

	.about {
		padding-top: 40px;
		padding-bottom: 50px;
	}




	.header__menu {
		margin-left: 81px;

	}

	.menu__link {
		line-height: 260%;
	}

	.friends__body__button {
		font-size: 14px;
		padding: 15px 30px;
	}
}

@media(max-width:600px) {
	.info__title {
		font-size: 36px;
		margin-top: 20px;
	}



	.friends__body_items:first-child {
		display: none;
	}


	.friends__body .friends__body_items {
		margin-left: 0px;


	}

	.friends__wrapper .friends__body {
		margin-left: 0px;
	}

	.friends__right-arrow {
		margin-left: 10px;
	}

	.friends__left-arrow {
		margin-right: 10px;
	}



}

@media(max-width:630px) {
	footer {
		padding: 30px 0px 0px 0px;
	}

	.questions-block {
		flex-basis: 100%;
	}

	.visiting-block {
		margin-top: 40px;
		flex-basis: 100%;
	}

	.footer__wrapper img {
		margin-top: 94px;
	}
}

@media(max-width:420px) {
	.info__title {
		margin: 40px 0px 20px;
	}

	.header__menu {
		margin-left: 50px;
	}

	.donation__card-number {
		font-size: 18px;
	}
}

@media(max-width:360px) {
	.donation__card-number {
		font-size: 15px;
	}
}

@media(max-width:450px) {
	.header__burger {
		display: block;
		margin-right: 40px;
	}

	.header__menu {
		display: none;

	}
}